{% extends 'ClientBundle::index.html.twig' %}

{% block body %}
    {{ include('ClientBundle:navbar:navbar.html.twig') }}
    <div class="userForm">
        <h1>{{'create.mailing.group'|trans }}</h1>
        {{ form_start(form) }}
            <div class="fos_user_form">
                <input type="text" class="userGroupName" name="userGroupName" placeholder="{{'create.group.name'|trans }}">
                <p>Merci d'envoyer votre fichier au format CSV</p>
                {% form_theme form 'form/fields.html.twig' %}
                {{ form_widget(form.csv) }}
                <button type="submit" class="csv-submit"><i class="glyphicon glyphicon-send"></i></button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}