{% extends 'ClientBundle::index.html.twig' %}

{% block body %}
    {{ include('ClientBundle:navbar:navbar.html.twig') }}
    {{ form_start(form, {'attr' : {'class': 'userForm'} }) }}
        <h1>{{ 'addOneUser'|trans }}</h1>
        <div class="form_group">
            <label for="chooseMethod">{{ 'chooseMethod'|trans }}</label>
            <select id="chooseMethod" name="chooseMethod">
                <option value="0">{{ 'selectGroupe'|trans }}</option>
                <option value="1" selected>{{ 'createGroupe'|trans }}</option>
            </select>
        </div>
        <div id="0" style="display: none;">
            <label for="selectGroup">{{ 'chooseGroupSend'|trans }}</label>
            <select id="selectGroup" name="selectGroup">
                {% for group in mailingGroups %}
                    <option value="{{ group.id }}">{{ group.label }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="1">
            <label for="labelGroup">{{ 'labelGroup'|trans }}</label>
            <input type="text" id="labelGroup" name="labelGroup" />
        </div>
        <div class="form_group">
            {{ form_label(form.userName) }}
            {{ form_widget(form.userName) }}
        </div>
        <div class="form_group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        <div class="form_group">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom) }}
        </div>
        <div class="form_group">
            {{ form_label(form.prenom) }}
            {{ form_widget(form.prenom) }}
        </div>
        <button type="submit" class="btn btn-default">{{ 'ok'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    <script>
        $("#chooseMethod").on( "change", function() {
            if ($("#chooseMethod").val() == 0) {
                $("#0").show();
                $("#1").hide();
            } else {
                $("#0").hide();
                $("#1").show();
            }
        });
    </script>
{% endblock %}