{% extends 'ClientBundle::index.html.twig' %}

{% block body %}
    {{ include('ClientBundle:navbar:navbar.html.twig') }}
    <form action="{{ path('newsletter_send_part_1', {'idAction': 0}) }}" class="userForm" method="post">
        <h1>Choix du groupe de newsletter</h1>
        <div class="form_group">
            <label for="mailingGroup">{{ 'mailingGroup'|trans }}</label>
            <select id="mailingGroup" name="mailingGroup">
                {% for group in mailingGroups %}
                    <option value="{{ group.id }}">{{ group.label }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-default">{{ 'ok'|trans }}</button>
    </form>
{% endblock %}