{% extends "UserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% if error %}
        {% set modal_message = error.messageKey|trans(error.messageData, 'security') %}
        {% include "UserBundle:Modal:error.html.twig" %}
    {% endif %}
    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin userForm">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="login-container">
            <h1>{{ 'title_form_login'|trans }}</h1><br>
            <form>
                <div class="login-fields">
                    <div>
                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>
                    <div>
                        <label for="password">{{ 'security.login.password'|trans }}</label>
                        <input type="password" id="password" name="_password" required="required" />
                    </div>
                </div>
                <div>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label><br/>
                </div>
                <input type="submit" class="login login-submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </form>
            <div class="login-help">
                <a href="{{ path('fos_user_registration_register') }}">{{ 'register'|trans }}</a> - <a href="{{ path('fos_user_resetting_request') }}">{{ 'forgot_password'|trans }}</a>
            </div>
        </div>
    </form>
{% endblock fos_user_content %}